{% set vlanList = trunkVlans | map(attribute='vlanNum') | map('string') | list %}

set interfaces {{ interface }} unit 0 family ethernet-switching port-mode trunk

{% for item in trunkVlans %}

{% if (item.isNative | default(False)) %}
delete interfaces {{ interface }} unit 0 family ethernet-switching native-vlan-id
set interfaces {{ interface }} unit 0 family ethernet-switching native-vlan-id {{ item.vlanNum }}
{% endif %}

{% endfor %}

{% if vlanList %}
set interfaces {{ interface }} unit 0 family ethernet-switching vlan members [ {{ vlanList | join(' ') }} ]
{% endif %}



