{% for mapping in vlanToInterfaceMappings %}


{% set vlanList = mapping.vlans | map(attribute='vlanNum') | map('string') | list %}

set interfaces {{ mapping.interface }} unit 0 family ethernet-switching port-mode trunk

{% for vlan in mapping.vlans %}
{% if (vlan.isNative | default(False)) %}
delete interfaces {{ mapping.interface }} unit 0 family ethernet-switching native-vlan-id
set interfaces {{ mapping.interface }} unit 0 family ethernet-switching native-vlan-id {{ vlan.vlanNum }}
{% endif %}

{% endfor %}

{% if vlanList %}
set interfaces {{ mapping.interface }} unit 0 family ethernet-switching vlan members [ {{ vlanList | join(' ') }} ]
{% endif %}
{% endfor %}
