{% for item in interfacesVlanToConfigure %}

set interfaces vlan unit {{ item.vlanNum }} family inet address {{ item.ipAddress }}/{{ item.mask }}

set vlans {{ item.name }} vlan-id {{ item.vlanNum }}
set vlans {{ item.name }} l3-interface vlan.{{ item.vlanNum }}

{% endfor %}



