- name: Create Directory on Host that will be used as NFS storage
  ansible.builtin.file:
    path: "{{ proxmoxMountPoint }}"
    state: directory
    mode: '0755'


- name: Create Container for NFS
  community.proxmox.proxmox:
    state: present
    vmid: "{{ vmID }}"
    api_user: "{{ apiUser | default('root@pam') }}"
    api_password: "{{ ansible_password }}"
    password: "{{ ansible_password }}"
    api_host: "{{ ansible_host }}"
    description: "NFS container for NAS file sharing"
    onboot: True
    ostemplate: "{{ osTemplate | default('local:vztmpl/ubuntu-24.04-standard_24.04-2_amd64.tar.zst') }}"
    unprivileged: False
    node: "{{ ansible_hostname }}"
    hostname: "{{ containerName }}"
    cpus: "{{ containerCPUs }}"
    memory: "{{ containerRAM }}"
    netif:
      net0: "name={{ nic }},gw={{ containerIPGateway }},hwaddr=BC:24:11:7E:7D:4A,ip={{ containerIp }},bridge={{ bridge }}"
    disk_volume:
      storage: local-lvm
      size: 100
    features: 
      - nesting=1
      - mount=nfs
    timeout: 120
  delegate_to: localhost

- name: Start the container
  community.proxmox.proxmox:
    state: started
    vmid: 100
    api_user: "{{ apiUser | default('root@pam') }}"
    api_password: "{{ ansible_password }}"
    api_host: "{{ ansible_host }}"
  delegate_to: localhost



- name: "Allowing SSH for user root"
  ansible.builtin.include_tasks: executeCommandsInLXC.yml
  vars:
    containerID: "{{ vmID }}"
    lxcCommands:
      - command: sed -i 's/^#\?PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config && systemctl restart ssh
      - command: systemctl restart ssh
      - command: ping 10.10.10.1 -c5