- name: Create Directory on Host that will be used as NFS storage
  ansible.builtin.file:
    path: "{{ proxmoxMountPoint }}"
    state: directory
    mode: '0755'


- name: Create Container for NFS
  community.proxmox.proxmox:
    state: present
    vmid: "{{ vmID }}"
    api_user: "{{ apiUser | default('root@pam') }}"
    api_password: "{{ ansible_password }}"
    password: "{{ ansible_password }}"
    api_host: "{{ ansible_host }}"
    description: "NFS container for NAS file sharing"
    onboot: True
    ostemplate: "{{ osTemplate | default('local:vztmpl/ubuntu-24.04-standard_24.04-2_amd64.tar.zst') }}"
    unprivileged: False
    node: "{{ ansible_hostname }}"
    hostname: "{{ containerName }}"
    cpus: "{{ containerCPUs }}"
    memory: "{{ containerRAM }}"
    netif:
      net0: "name={{ nic }},gw={{ containerIPGateway }},ip={{ containerIp }},bridge={{ bridge }}"
    disk_volume:
      storage: local-lvm
      size: 8
    mount_volumes:
      - id: mp0
        host_path: "{{ proxmoxMountPoint }}"
        mountpoint: "{{ containerMountPoint }}"
    features: 
      - nesting=1
      - mount=nfs
    timeout: 120
  delegate_to: localhost

- name: Start the container
  community.proxmox.proxmox:
    state: started
    vmid: 100
    api_user: "{{ apiUser | default('root@pam') }}"
    api_password: "{{ ansible_password }}"
    api_host: "{{ ansible_host }}"
  delegate_to: localhost


- ansible.builtin.set_fact:
    userToCreateOnLXC: "{{ hostvars['NFSNASContainer']['ansible_user'] }}"

- name: "Check if {{ userToCreateOnLXC }} user is created"
  ansible.builtin.include_tasks: executeCommandInLXC.yml
  vars:
    containerID: "{{ vmID }}"
    lxcCommand: id "{{ userToCreateOnLXC }}"
    ignore_errors: True
  


- name: "Allowing SSH for user root"
  ansible.builtin.include_tasks: executeCommandsInLXC.yml
  vars:
    containerID: "{{ vmID }}"
    lxcCommands:
      - command: useradd -m -s /bin/bash "{{ userToCreateOnLXC }}" -G sudo 
      - command: echo "{{ userToCreateOnLXC }}:{{ numberPasswordStrong }}" | chpasswd
      - command: systemctl restart ssh
  # when: lxcCommandOut.rc != 0