
- name: "Do Config Backup"
  ansible.builtin.include_tasks: ../../cisco/tasks/getCurrentConfig.yml


- block:



  - name: Creation of VLANs and Rapid PVST+
    ansible.builtin.include_tasks: createVlansAndSTP.yml
    vars:
      vlans:
        - num: 5
          name: "Management"
          stpBridgePriority: 28672

        - num: 10
          name: "InternalServices"
          stpBridgePriority: 4096

        - num: 50
          name: "ExternalServices"
          stpBridgePriority: 32768



  - name: Configure Interfaces without downlink
    ansible.builtin.include_tasks: setInterfaceStatus.yml
    vars:
      interfaces:
        - name: "Fa0/1"
          active: False
        - name: "Fa0/2"
          active: False
        - name: "Fa0/3"
          active: False
        - name: "Fa0/4"
          active: False

        - name: "Fa0/5"
          mode: "trunk"
          nativeVlan: 5
          vlans: "5,10,50"

        - name: "Fa0/6"
          mode: "trunk"
          nativeVlan: 5
          vlans: "5,10,50"

        - name: "Fa0/7"
          active: False
        - name: "Fa0/8"
          active: False


        - name: "Gi0/1"
          mode: "trunk"
          nativeVlan: 5
          vlans: "5,10"   

# TODO: Update default Gateway to virtual IP

  rescue:
    - name: "Do Rollback"
      ansible.builtin.include_tasks: ../../cisco/tasks/rollbackConfig.yml
