
- ansible.builtin.set_fact:
    timestamp: "{{ lookup('pipe', 'date +%Y%m%d_%H%M%S') }}"
  run_once: true


- ansible.builtin.set_fact:
    backupPath: "roles/juniperSRXs/files/backups/{{ inventory_hostname }}_config_{{ timestamp }}.cfg"
  run_once: true



- name: Retrieve current configuration
  juniper.device.config:
    retrieve: committed
    dest: "{{ backupPath }}"
    format: text


- name: Report saved backup file location
  ansible.builtin.debug:
    msg: "Configuration successfully backed up to: {{ backupPath }}"
