- name: Check NETCONF connectivity
  ansible.builtin.wait_for: 
    host: "{{ ansible_host }}"
    port: 830 
    timeout: 5

- name: "Do Config Backup"
  ansible.builtin.include_tasks: getCurrentConfig.yml

- block:

    - name: "Include interface tasks"
      ansible.builtin.include_tasks: setInterfaces.yml
    
    - name: "Add Default route"
      ansible.builtin.include_tasks: setDefRoute.yml

    - name: "Include vlan interface tasks"
      ansible.builtin.include_tasks: setVlanInterfaces.yml

    - name: "Assign Ge-0/0/0 trunk to the Vlans previously configured"
      ansible.builtin.include_tasks: addVlansToTrunk.yml

    - name: "Set OSPF Routing"
      ansible.builtin.include_tasks: enableOSPFRouting.yml
      
    - name: "Add redundant floating Default route"
      vars:
        staticDefGateMetric: 190
      ansible.builtin.include_tasks: setDefRoute.yml

    - name: "Enable VRRP for management subnet"
      ansible.builtin.include_tasks: setVRRP.yml

    # - name: "Change password of User to the strongest one"
    #   ansible.builtin.include_tasks: setUserAndPassword.yml 
    # Bug on the lib: Opened ticket: https://github.com/Juniper/ansible-junos-stdlib/issues/798
        

  rescue:
    - name: "Do Rollback"
      ansible.builtin.include_tasks: rollback.yml



- name: Reset connection to ensure clean slate for next device
  meta: reset_connection