- name: Check NETCONF connectivity
  ansible.builtin.wait_for: 
    host: "{{ ansible_host }}"
    port: 830 
    timeout: 5

- name: "Do Config Backup"
  ansible.builtin.include_tasks: getCurrentConfig.yml

- block: # In the case any task fails the rescue task is activated

    - name: "Include interface tasks"
      ansible.builtin.include_tasks: setInterfaces.yml

    - name: "Include vlan interface tasks"
      ansible.builtin.include_tasks: setVlanInterfaces.yml

    - name: "Include LACP tasks"
      ansible.builtin.include_tasks: setLACPInterfaces.yml

    - name: "Assign LACP as a trunk to Vlans previously configured"
      ansible.builtin.include_tasks: addVlansToTrunk.yml
  rescue:
    - name: "Do Rollback"
      ansible.builtin.include_tasks: rollback.yml
