- name: "Do Config Backup"
  ansible.builtin.include_tasks: getCurrentConfig.yml


- name: Create LACP Interface
  juniper.device.config:
    src: interfaceLACP.j2
    format: text # Ensure configuration is applied as text commands
  notify: Retrieve diffs

