- name: "Do Config Backup"
  ansible.builtin.include_tasks: getCurrentConfig.yml


- name: Apply Juniper SRX LACP Interface Configurations
  junipernetworks.junos.junos_config:
    src: interfaceLACPAddress.j2
    format: text # Ensure configuration is applied as text commands
