
- ansible.builtin.set_fact:
    tempFile: "roles/juniperSRXs/templates/interfaceLACP.j2"

- name: Create LACP Interface
  juniper.device.config:
    lines: "{{ lookup('ansible.builtin.template', tempFile) | split('\n') }}"
    load: set
    format: set
    commit: true
    timeout: 180
    ignore_warning:
      - statement not found
  register: response

- name: Print the complete response.
  ansible.builtin.debug:
    var: response