
- ansible.builtin.set_fact:
    tempFile: "roles/juniperSRXs/templates/interfaceVlanAddress.j2"



- name: Apply Juniper SRX Vlan Interface Configurations
  juniper.device.config:
    lines: "{{ lookup('ansible.builtin.template', tempFile) | split('\n') }}"
    load: set
    format: set
    commit: true
    timeout: 180
    ignore_warning:
      - statement not found
  register: response
  when: interfacesVlanToConfigure is defined and interfacesVlanToConfigure | length > 0

- name: Print the complete response.
  ansible.builtin.debug:
    var: response
