

ip access-list standard neoSshACL
{% for item in networksAllowedSSH %}
 permit {{ item.ip }} {{ item.submask }}
{% endfor %}
 deny any log

line vty 0 4
 access-class neoSshACL in
 exec-timeout 30 0
 login local
 transport input ssh